<script type="text/javascript">
  $(document).ready(function() {
    var formatter = new TwitterCldr.DateTimeFormatter();
    $("p#date").html(formatter.format(new Date(), {format: "date_time", type: "full"}));
  });
</script>

<%= localized_form_for Post.new, :url => "/" do |f| %>
	<%= f.date_select :updated_at, :prompt => true %>
<% end %>

<p id="date"></p>
<p><%= Chopstick::Application.config.assets.paths.join("<br/>").html_safe %></p>